* {
    box-sizing: border-box;
}

body {
    background-image: url("images/main_background.jpg");
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #eaeaea;
    overflow-x: hidden;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3); /* Red shadow */
}

header {
    background-image: url("images/banner.avif");
    /*
    background: #333;
    */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #f4f4f4;
    border-radius: 8px;
}

.card {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolio-item {
    text-align: center;
    margin: 10px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icon {
    list-style: none;
    padding: 0;
}

.social-icon li {
    display: inline;
    margin: 0 10px;
}

form input, form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmation-message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
